In [3]:
import pandas as pd

In [4]:
df1=pd.read_csv('/Users/lalithavemalapalli/Desktop/data_science/sales_data.csv')
df1

           Date    Store    Product   Sales  Quantity
0    2023-01-01  Store D  Product 8  115.44         4
1    2023-01-01  Store B  Product 6  379.50         8
2    2023-01-01  Store E  Product 4  855.70        10
3    2023-01-01  Store D  Product 8  495.19         7
4    2023-01-01  Store A  Product 5  109.13         3
..          ...      ...        ...     ...       ...
995  2023-12-31  Store B  Product 9   67.57         1
996  2023-12-31  Store D  Product 3   31.20         2
997  2023-12-31  Store E  Product 4   61.21         2
998  2023-12-31  Store B  Product 6  507.75         6
999  2023-12-31  Store A  Product 9   29.05         2

[1000 rows x 5 columns]

In [4]:
df1['Store'].nunique()

5

In [5]:
df1['Product'].nunique()

10

In [6]:
grouped=df1['Sales'].groupby(df1['Product'])
grouped

In [7]:
grouped.mean()

Product
Product 1     298.425581
Product 10    300.456882
Product 2     276.117789
Product 3     279.408750
Product 4     307.200957
Product 5     299.862793
Product 6     253.775758
Product 7     262.421895
Product 8     315.726500
Product 9     247.218922
Name: Sales, dtype: float64

In [8]:
group=df1['Sales'].groupby([df1['Product'],df1['Store']]).mean()
group.unstack()
group

Product     Store
Product 1   Store A    281.053333
            Store B    300.951111
            Store C    271.325000
            Store D    355.263125
            Store E    287.558947
Product 10  Store A    350.728824
            Store B    300.275882
            Store C    266.545882
            Store D    334.371579
            Store E    260.481304
Product 2   Store A    286.058333
            Store B    293.695500
            Store C    287.865000
            Store D    234.037368
            Store E    273.989167
Product 3   Store A    305.455000
            Store B    289.790000
            Store C    247.440500
            Store D    283.725455
            Store E    271.295417
Product 4   Store A    273.156087
            Store B    292.440345
            Store C    309.173077
            Store D    362.120833
            Store E    327.232000
Product 5   Store A    309.168000
            Store B    241.556800
            Store C    335.508571
            Store D    298.779524
            Store E    328.660000
Product 6   Store A    298.153333
            Store B    273.684167
            Store C    303.401111
            Store D    167.609474
            Store E    236.403478
Product 7   Store A    224.791250
            Store B    292.215556
            Store C    220.318947
            Store D    304.615714
            Store E    291.226500
Product 8   Store A    286.698500
            Store B    316.846111
            Store C    336.363478
            Store D    362.738947
            Store E    275.352500
Product 9   Store A    223.448261
            Store B    205.885789
            Store C    318.330952
            Store D    255.618800
            Store E    220.697857
Name: Sales, dtype: float64

In [9]:
df1['Sales'].groupby(df1['Product']).mean()

Product
Product 1     298.425581
Product 10    300.456882
Product 2     276.117789
Product 3     279.408750
Product 4     307.200957
Product 5     299.862793
Product 6     253.775758
Product 7     262.421895
Product 8     315.726500
Product 9     247.218922
Name: Sales, dtype: float64

In [15]:
df1['Sales'].groupby(df1["Product"]).mean()

Product
Product 1     298.425581
Product 10    300.456882
Product 2     276.117789
Product 3     279.408750
Product 4     307.200957
Product 5     299.862793
Product 6     253.775758
Product 7     262.421895
Product 8     315.726500
Product 9     247.218922
Name: Sales, dtype: float64

In [5]:
df1['Store'].groupby(df1['Product'],dropna=False).size()

Product
Product 1      86
Product 10     93
Product 2      95
Product 3     104
Product 4     115
Product 5     111
Product 6      99
Product 7      95
Product 8     100
Product 9     102
Name: Store, dtype: int64

In [6]:
df1.groupby(df1['Store']).count()

         Date  Product  Sales  Quantity
Store
Store A   208      208    208       208
Store B   204      204    204       204
Store C   196      196    196       196
Store D   186      186    186       186
Store E   206      206    206       206

In [32]:
df1.groupby('Product')['Date'].min()

Product
Product 1     2023-01-02
Product 10    2023-01-06
Product 2     2023-01-06
Product 3     2023-01-04
Product 4     2023-01-01
Product 5     2023-01-01
Product 6     2023-01-01
Product 7     2023-01-05
Product 8     2023-01-01
Product 9     2023-01-04
Name: Date, dtype: object

In [33]:
df1.describe()

             Sales     Quantity
count  1000.000000  1000.000000
mean    284.352530     5.389000
std     230.189347     2.875404
min       6.070000     1.000000
25%      94.287500     3.000000
50%     217.505000     5.000000
75%     421.787500     8.000000
max     990.600000    10.000000

In [34]:
df1['Sales'].agg("mean")

np.float64(284.35253)

In [37]:
df1.groupby('Product')['Date'].agg("count")

Product
Product 1      86
Product 10     93
Product 2      95
Product 3     104
Product 4     115
Product 5     111
Product 6      99
Product 7      95
Product 8     100
Product 9     102
Name: Date, dtype: int64

In [39]:
df1['Sales'].groupby('Product')['Date'].agg("std")

KeyError: 'Product'

In [42]:
group3=df1['Sales'].groupby([df1['Store'],df1['Product']]).agg("std")
group3

Store    Product
Store A  Product 1     259.516982
         Product 10    274.669722
         Product 2     243.078536
         Product 3     224.234992
         Product 4     238.796871
         Product 5     314.125851
         Product 6     237.475723
         Product 7     197.699947
         Product 8     219.284806
         Product 9     185.906069
Store B  Product 1     274.876973
         Product 10    203.038302
         Product 2     194.085105
         Product 3     249.187130
         Product 4     224.594490
         Product 5     173.389211
         Product 6     176.655650
         Product 7     186.225465
         Product 8     202.657823
         Product 9     209.646229
Store C  Product 1     235.851606
         Product 10    280.174255
         Product 2     208.477621
         Product 3     254.384893
         Product 4     241.133313
         Product 5     293.930961
         Product 6     271.709816
         Product 7     192.432326
         Product 8     259.129591
         Product 9     193.444782
Store D  Product 1     250.121997
         Product 10    253.892538
         Product 2     170.044481
         Product 3     235.322780
         Product 4     237.205341
         Product 5     264.201263
         Product 6     141.178799
         Product 7     218.125410
         Product 8     320.053464
         Product 9     252.664230
Store E  Product 1     184.140909
         Product 10    244.045336
         Product 2     229.703898
         Product 3     168.411008
         Product 4     319.456356
         Product 5     207.508280
         Product 6     233.515587
         Product 7     171.814028
         Product 8     225.165952
         Product 9     233.692763
Name: Sales, dtype: float64

In [43]:
group3=df1['Quantity'].groupby([df1['Store'],df1['Product']]).agg("count")
group3

Store    Product
Store A  Product 1     15
         Product 10    17
         Product 2     24
         Product 3     22
         Product 4     23
         Product 5     25
         Product 6     15
         Product 7     24
         Product 8     20
         Product 9     23
Store B  Product 1     18
         Product 10    17
         Product 2     20
         Product 3     16
         Product 4     29
         Product 5     25
         Product 6     24
         Product 7     18
         Product 8     18
         Product 9     19
Store C  Product 1     18
         Product 10    17
         Product 2     20
         Product 3     20
         Product 4     26
         Product 5     14
         Product 6     18
         Product 7     19
         Product 8     23
         Product 9     21
Store D  Product 1     16
         Product 10    19
         Product 2     19
         Product 3     22
         Product 4     12
         Product 5     21
         Product 6     19
         Product 7     14
         Product 8     19
         Product 9     25
Store E  Product 1     19
         Product 10    23
         Product 2     12
         Product 3     24
         Product 4     25
         Product 5     26
         Product 6     23
         Product 7     20
         Product 8     20
         Product 9     14
Name: Quantity, dtype: int64