In [1]:
import numpy as np 
import pandas as pd

In [2]:
from datetime import datetime

In [5]:
now=datetime.now()

In [6]:
now

datetime.datetime(2025, 4, 22, 20, 14, 58, 592909)

In [7]:
now.year , now.month , now.day

(2025, 4, 22)

In [8]:
delta=datetime(2022,1,11)-datetime(2004,7,8)

In [9]:
delta

datetime.timedelta(days=6396)

In [10]:
from datetime import timedelta

In [11]:
start=datetime(2011,1,1)

In [14]:
start+timedelta(11)

datetime.datetime(2011, 1, 12, 0, 0)

In [15]:
stamp=datetime(2004,7,8)
str(stamp)

'2004-07-08 00:00:00'

In [18]:
stamp.strftime("%Y-%m-%d")

'2004-07-08'