### problem 
here i need to create the dataframe which contains the columns like stud_id,stud_name,subjects,exam_type(internal exams , practical exams and theory exams).solve this problem using the pandas, python and numpy .

### step 1: 
now first step is to create the empty dataframe with the column names are stud_id,stud_name,subjects,test_type,scored_marks,total_marks,year

In [243]:
import pandas as pd
import numpy as np
import random

In [164]:
df=pd.DataFrame(columns=['student_id','stud_name','subject','test_type','scored_marks','total_marks','year'])
df

Empty DataFrame
Columns: [student_id, stud_name, subject, test_type, scored_marks, total_marks, year]
Index: []

printing the columns in the dataframe df by using the df.head function.

In [4]:
df.head

<bound method NDFrame.head of Empty DataFrame
Columns: [stud_id, stud_name, subject, test_type, scored_marks, total_marks, year]
Index: []>

first we have to create a global variable to use that variable throught the program .

In [5]:
TOTAL_NUMBER_OF_STUD=22

Now to create a stud_id , it is a mixture of alphabets and numeric values , so in our stud_id we are taking 4 alphabets and 8 numeric values . for that first we are creating a list of alphabets with the string.ascii_uppercase() function . and creating a list of numeric values manually.

In [6]:
import string

In [140]:
alphabets=list(string.ascii_uppercase)
numbers=[0,1,2,3,4,5,6,7,8,9]
number_sample_size=8

Now here we are initializing a sample size for charecters and numeric values.

In [9]:
import pandas as pd
import numpy as np

In [133]:
charecter_sample_size=4
number_sample_size=8

now we are creating a object and randomly selecting a choice using a np.random.choice() function from the alphabets and numbers .

In [157]:
charecter_sample=np.random.choice(alphabets,size=charecter_sample_size)
numeric_sample=np.random.choice(numbers,size=number_sample_size)

printing the charecter_sample and numeric_sample . Here the process will be first it will randomly choice the charecters an numerics from the list we have created before and we have given the sample size for charecter i..e charester_sample_size and for numbers i..e number_sample_size.

In [13]:
charecter_sample,numeric_sample

(array(['R', 'C', 'K', 'I'], dtype='<U1'), array([8, 1, 6, 6, 9, 0, 2, 0]))

now here we are creating a object called stud_id_len and initializing with the size of the student id i...e 12

In [14]:
stud_id_len=12

now all are set to get the stud_id we need to write the logic that is here the logic is first we need to write a for loop for iterating the sample again and again till it creates a 12 alphanumeric stud_id and once the charecter is added to the id that charecter should be removed from the charecters list . similarly for the numbers also.

Now we are going to the program , in the below program 8th line performes the combining of two lists using list() function and we are using the map() function it takes 2 arguments one is function and iterable . here in this case the function will be string and the iterable will be the numeric_sample for which we need to apply the function (str).

And then , in the 9th line of the program we are using the np.random.shuffle() method from the numpy , this function os used to shuffle the numbers and charecters in the student_id.

And then , in the 10th line we ae using something called as join() method this function is used to join the shuffeled student_id withoout any spaces .

In [163]:
import string
alphabets = list(string.ascii_uppercase)
numbers = [0,1,2,3,4,5,6,7,8,9]

number_sample_size = 8
character_sample_size = 4

character_sample = np.random.choice(alphabets, size=character_sample_size,replace=False)
numeric_sample = np.random.choice(numbers, size=number_sample_size,replace=False)
student_id_list = list(character_sample) + list(map(str, numeric_sample))

np.random.shuffle(student_id_list)
student_id = ''.join(student_id_list)
print("Student ID:", student_id)

Student ID: 3CQ198R572F6

Here in this code I am manually creating a students names the len of the student_name is 22 .

In [165]:
student_names=["Lalitha","Anjali","Swathi","Sahana","Triveni","Divya","Vismaya","Akshatha","Anitha","Ramya","Kanchana","Kousalya","Pavan","Bharath","Yuvraj","Shannmukha","Siddesh","Sudarshan","Harsha","Ravi","Bhuvan","Akshay"]

In this code I am using the np.random.choice() method to randomly choose the name from the list every time when we call the function .

In [ ]:
stud_name=np.random.choice(student_names)
stud_name

Here in this code I am creating a list of subjects manually and here I am using the np.random.choice() method to randomly choose each subject from the list .

In [175]:
sub=['python','java','c','c++','R programming','ADA']
subject=np.random.choice(sub)
subject

np.str_('python')

Here in this code I am creating a list of test type ,there are three types of test ther are internal test , external test , practical tests
and I am using the numpy np.random.choice() method to pick the test_type from the list.

In [178]:
test=['int_marks','pract_marks','ext_marks']
test_type=np.random.choice(test)
test_type
if test_type == 'pract_marks':
    max_score = 25
elif test_type == 'int_marks':
    max_score = 40
else:  # test_type == 'ext_marks'
    max_score = 100

np.str_('pract_marks')

Here I am creating one global variable called TOTAL_MARKS whichshould be alive throught the program .

In [180]:
TOTAL_MARKS=100
total_marks=TOTAL_MARKS

In [181]:
total_marks

100

Here in this code I am initialising the score lenght is 2 and then creating the list of range from 0 to 10 and then I am using the numpy np.random.choice() method to randomly choose any 2 numbers from the list and then i am printing the scored marks .

In [199]:
score_len=2
score=list(range(10))
scored_marks=np.random.choice(score,score_len)
print(scored_marks)

[1 6]

Here I am creating a global variable called YEAR and passing 2024 as an argument.

In [200]:
YEAR=2024
YEAR

2024

Now here is the final program which creates the dataframe containing the information about the student marks list . 
- here in this program first I am initialising all the sample list by creating different variables .
- And then I am creating an empty dictionary to store the values where the keys are stuent_id, student_name, subject,test_type,total_marks,scored_marks,year of passing .
- here I am using the for loop to add the values for the df and to iterate for 22 times and in the for loop I am writing the logical code for the each key in the dictionary .
- and then using append method we are appending the values to the empty dictionary we have created before .
 #### or 
- here is a another method to crate the dataframe that is by creating one function .
- same way in that also first we need to create the empty dictionary and then write the logic code for that and then use the append method to add the values to the before created empty dictionary.
- here also we are using the for loop for iteration for 22 times .
#### diffrence between two methods
- the main difference between two methods is in the first method without creating any function we are directly using the for loop and in the second method also we are using the for but here we are creating the function.

In [277]:
alphabets = list(string.ascii_uppercase)
numbers = list(range(10))
student_names = ["Lalitha", "Anjali", "Swathi", "Sahana", "Triveni", "Divya", "Vismaya", 
                 "Akshatha", "Anitha", "Ramya", "Kanchana", "Kousalya", "Pavan", "Bharath", 
                 "Yuvraj", "Shanmukha", "Siddesh", "Sudarshan", "Harsha", "Ravi", "Bhuvan", "Akshay"]
subjects = ['python', 'java', 'c', 'c++', 'R programming', 'ADA']
tests = ['int_marks', 'pract_marks', 'ext_marks']
TOTAL_MARKS = 100
YEAR = 2024

data = {
    "Student_ID": [],
    "Student_Name": [],
    "Subject": [],
    "Test_Type": [],
    "Total_Marks": [],
    "Scored_Marks": [],
    "Year": []
}
for _ in range(23):
    character_sample = np.random.choice(alphabets, size=4, replace=False)
    numeric_sample = np.random.choice(numbers, size=8, replace=False)
    student_id = list(character_sample) + list(map(str, numeric_sample))
    np.random.shuffle(student_id)
    stud_id = ''.join(student_id)

    stud_name=np.random.choice(student_names)

    
    sub=['python','java','c','c++','R programming','ADA']
    subject=np.random.choice(sub)
    test=['int_marks','pract_marks','ext_marks']
    test_type=np.random.choice(test)
    if test_type == 'pract_marks':
       max_score = 25
    elif test_type == 'int_marks':
       max_score = 40
    else:  
       max_score = 100
    
    
    score_len=2
    score=list(range(10))
    scored_marks=np.random.choice(score,score_len)
    scored_marks = int(''.join(map(str, scored_marks))) 
    
    data["Student_ID"].append(stud_id)
    data["Student_Name"].append(stud_name)
    data["Subject"].append(subject)
    data["Test_Type"].append(test_type)
    data["Total_Marks"].append(TOTAL_MARKS)
    data["Scored_Marks"].append(scored_marks)
    data["Year"].append(YEAR)

here I am creating the dataframe by using pandas pd.DataFrame() method and passing the dictionary name(data) as an argument .

In [278]:
df=pd.DataFrame(data)
df

,Student_ID,Student_Name,Subject,Test_Type,Total_Marks,Scored_Marks,Year
0,I2A6R3178H50,Kousalya,R programming,int_marks,100,10,2024
1,F36859147APN,Triveni,java,int_marks,100,70,2024
2,1U827605KB3Y,Lalitha,R programming,ext_marks,100,58,2024
3,2FG503Z9871U,Lalitha,ADA,ext_marks,100,11,2024
4,B4TZ27S56803,Bhuvan,c++,int_marks,100,72,2024
5,L1QF270534J8,Sudarshan,c++,pract_marks,100,23,2024
6,QP6N98721L40,Ravi,R programming,int_marks,100,90,2024
7,G57682C03I9P,Bhuvan,c,ext_marks,100,68,2024
8,FOXE84079152,Bhuvan,c,pract_marks,100,57,2024
9,X86704TVO921,Swathi,R programming,int_marks,100,23,2024
10,651703P82TSW,Bhuvan,java,int_marks,100,39,2024
11,8T7G2F9O5410,Ramya,java,pract_marks,100,83,2024
12,280Z39KG6F71,Kousalya,c,int_marks,100,93,2024
13,TM0B863429V7,Triveni,java,pract_marks,100,64,2024
14,6U9R24830V7X,Kousalya,c++,pract_marks,100,63,2024
15,N0542RX96F13,Shanmukha,ADA,pract_marks,100,48,2024
16,93Z0JT7412C5,Pavan,java,ext_marks,100,78,2024
17,5K8E7391X2T0,Lalitha,java,ext_marks,100,68,2024
18,47R5MD13Y086,Shanmukha,R programming,int_marks,100,63,2024
19,6485GQ0N392K,Kousalya,ADA,ext_marks,100,75,2024
20,86A7F2190SQ4,Kanchana,c++,int_marks,100,49,2024
21,HU4C839A2601,Kousalya,R programming,ext_marks,100,22,2024
22,732Q46GP859O,Ravi,python,pract_marks,100,99,2024

In [1]:
stud_name=[]

x= user aboutr the dimension of the matrix 
y=to select the diagonal value from the user 
f=filling values in matrix by 0 
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
l4=[l1,l2,l3]

In [6]:
import numpy as np

In [7]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
l4=[l1,l2,l3]
np.array(l4)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [28]:
import numpy as np

Firstly we need to create the function called as matrix_creation and we need to pass the size and values as an arguments for that function and then in that function ,
- we need to create the matrix with the values filled in it is zeroes using the numpy .
- using the for loop first we need to modify the 1st matrix and set the value of the first matrix elements by the user entered value .
- the now we need to change the 2nd diagonal element of the matrix and set the value to the user entered value . 
- now here we are taking the input from the user about the array size and the element that should be in the 1st and 2nd diagonla value .
- At last we are calling the function.

In [44]:
def matrix_creation(size,value):
    mat=np.zeros((size,size))
    for x in range(size):
        mat[x,x]=value
    for i in range(size):
        mat[i,size-i-1]=value
    return mat
    
size=int(input("enter the size for the matrix:"))
value=int(input("enter the number for the diagonals of the matrix:"))
mat=matrix_creation(size,value)

In [45]:
mat

array([[9., 0., 9.],
       [0., 9., 0.],
       [9., 0., 9.]])